/*
 * Animations
**/
@include keyframes (loading) {
	0% {
		@include transform (translate3d(-100%, 0, 0));
		opacity: .3;
	}
	25% {
		opacity: 1;
	}
	49% {
		@include transform (translate3d(100%, 0, 0));
		opacity: .3;
	}
	50% {
		@include transform (translate3d(100%, -100%, 0));
	}
	51% {
		@include transform (translate3d(0, -100%, 0));
	}
	74% {
		opacity: 1;
	}
	99% {
		@include transform (translate3d(0, 100%, 0));
		opacity: .3;
	}
	100% {
		@include transform (translate3d(-100%, 100%, 0));
	}
}