html, body {
	padding: 0;
	margin: 0;
	}
body {
	color: $color-general;
	font: normal 81.25%/1.2 sans-serif;
	background: $background-body url('../images/noise.png') 0 0 repeat;
	opacity: 1;
	@include transition (opacity .2s);

	&.ng-cloak {
		opacity: 0;
		}

	}
h1, h2, h3, h4, h5, h6, .heading {
	font-family: sans-serif;
	font-weight: normal;
	}
a:link,
a:visited {
	text-decoration: none;
	}
.text-link:link,
.text-link:visited {
	color: $color-link;
	@include transition (color .2s);
	}
.text-link:hover,
.text-link:focus {
	color: $color-link-hover;
	}
.pale {
	color: rgba($color-general, .7);
	}
.pill {
	padding: 0 em(7, 14);
	white-space: nowrap;
	line-height: 1.6;
	border-radius: em(9, 14);
	background-color: $background-pill;
	color: #FFF;
	text-shadow: 0 1px 0 rgba(0,0,0,.5);
	@include inline-block;
	@include transition (background-color .3s);
	@include backface-visibility (hidden);
	@include user-select (none);

	&:hover,
	&:focus {
		background-color: $background-pill-hover;
		}

	}
.frame-elem {
	padding: em(12, 14);
	background-color: rgba(255,255,255,.5);
	}
.loader,
.loader--inner {
	width: em(20, 14);
	height: em(20, 14);
	}
.loader {
	margin: em(20, 14) auto;
	overflow: hidden;
	border: 1px solid $border-loading;
	outline: 1px solid rgba(0,0,0,.15);
	}
.loader--inner {
	display: block;
	background-color: rgba(0,0,0,.4);
	@include animation-name(loading);
	@include animation-duration(2s);
	@include animation-timing-function(linear);
	@include animation-iteration-count(infinite);
	}
