.header {
	}
.header--image-wrap {
	margin-right: em(20, 14);
	border: em(5, 14) solid rgba(0,0,0,.2);
	}
.header--image-wrap--img {
	display: block;
	margin: 1px;
	opacity: 1;
	@include transition (opacity .4s linear .5s);

	&.ng-cloak {
		opacity: 0;
		}

	}
.header--content--heading {
	margin: 0 0 em(10, 24) 0;
	font-size: em(24, 14);
	}
.header--content--description {
	margin-bottom: em(5, 14);
	}