.pull-left {
	float: left;
	}
.pull-right {
	float: right;
	}
.align-left {
	text-align: left;
	}
.align-right {
	text-align: right;
	}
.align-center {
	text-align: center;
	}
.clearfix {
	@include clearfix;
	}