.repo-list {
	padding-top: em(3, 14);
	}
.repo-list--item {
	padding: em(9, 14);
	margin: 0 em(3, 14) em(3, 14);
	background-color: rgba(0,0,0,.08);
	@include backface-visibility (hidden);

	&.is-even {
		background-color: rgba(0,0,0,.05);
		}

	&.is-inserted {
		opacity: 0;
		@include transform (translateX(8%));
		@include transition (all .3s ease-in-out .4s);
		}

	&.is-inserted-active {
		opacity: 1;
		@include transform (translateX(0));
		}

	}
.repo-list--item--heading {
	padding-bottom: em(5, 20);
	margin-top: 0;
	border-bottom: 1px dashed rgba(0,0,0,.1);
	text-shadow: 0 1px 0 rgba(255,255,255,.6);
	}
.repo-list--item--block {
	margin-bottom: em(10, 14);
	}
.repo-list--item--meta {
	padding-right: em(10, 14);
	}