$color-general: #353B3D;
$color-link: #28689F;
$color-link-hover: darken($color-link, 10%);


$background-body: #CCE3EA;
$background-pill: $color-link;
$background-pill-hover: $color-link-hover;

$border-loading: $background-body;